body {
    font-family: Source Sans Pro;
    background: linear-gradient(to bottom, #14213D, #000000); 
}

header {
    background-color: #189099; 
    padding-top: 15px; 
    padding-bottom: 15px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    background: #bbbbbb;
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(136, 45, 45, 0.1);
}

button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

table{
    width: 100%; 
    margin: auto;
	border-collapse: collapse;
    margin-bottom: 20px;
    background-color: #fff;
}

table th{
    padding: 10px;
	border: solid black 1px;
    background-color: #7fdff7;
    font-family: Roboto;
}

table td{
    padding: 10px;
	border: solid black 1px;
    padding-top: 5px;
    padding-bottom: 5px;
}

tbody :hover {
    background-color: #eaeed7;
    cursor: pointer;
}

label, input{
    font-size: 20px;
}

p{
    font-size: 20px;
}

.input-group {
    display: flex;                /* Usar flexbox para el alineamiento */
    align-items: center;         /* Centrar verticalmente los elementos */
    margin-bottom: 15px;         /* Espacio entre los grupos */
}

.input-date, .input-name, .input-alias, .input-address, .input-phone, .input-email, .input-dni, .input-workerType, .input-position, .input-area{
    flex-grow: 1;                /* Permitir que el input ocupe el espacio restante */
    padding: 8px;                /* Espaciado interno en el input */
    border: 1px solid #ccc;      /* Bordes del input */
    border-radius: 4px;  
}

.label-add-date, .label-add-name, .label-add-alias, .label-add-address, .label-add-phone, .label-add-email, .label-add-dni, .label-add-workerType, .label-add-position, .label-add-area{
    padding-right: 30px;         /* Espacio a la derecha del label */
    width: 200px;                /* Ancho fijo para alinear todos los labels */
    text-align: right;
}

.button-group {
    display: flex;
    justify-content: space-between; /* Separa los botones */
    gap: 40px; /* Espacio entre los botones */
}

.button-group button {
    flex: 1; /* Para que los botones tengan el mismo tamaño */
    font-size: 18px;
}

.button-cancel{
    background-color: #464545;
}
.button-cancel:hover{
    background-color: #333232;
}

.h2-login {
    color: #000000;
    font-size: 35px;
    margin: 0; 
    font-family: sans-serif;
    font-weight: 800; /* Peso de fuente específico */
    display: inline; /* Asegura que se muestre en línea */
}

.h2-login1 {
    background: linear-gradient(to right, #FCA311, #FFD548); 
    background-clip: text; /* Propiedad estándar */
    -webkit-background-clip: text; /* Prefijo para Safari */
    -webkit-text-fill-color: transparent; 
    font-size: 35px;
    font-family: sans-serif;
    font-weight: 800; 
}

.h2-completa{
    font-size: 15px;
    font-family: sans-serif;
    font-weight: 800; 
    color: #4C4C4C;
    text-align: start;
    margin-left: 5px;
}

.h2-list {
    color: #000000;
    padding-left: 40px;
    font-size: 40px;
    font-family: Roboto;
    margin: 0; 
}

.dni-column, .date-column, .name-column, .workerType-column, .area-column{
    width: fit-content;
}

.date-column1, .dni-column1{
    text-align: center;
}

.add-employee-button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
    margin-bottom: 15px;
    margin-right: auto;
    margin-top: 20px;
}

.add-employee-button:hover {
    background-color: #45a049;
}

.button-container {
    width: 100%; 
    display: flex;
    justify-content: flex-end;
}

.employee-page {
    padding-inline: 40px;
}

.add-employee-page {
    height: 100vh;
}

.ingresar-button{
    margin-top: 10px;
    background-color: #189099;
}

.agregar-button{
    margin-top: 10px;
    background-color: #189099;
}

.login-container {
    background-color: #fff;
    padding: 40px; 
    border-radius: 10px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2); /* Sombra alrededor del cuadro */
    display: flex;
    flex-direction: column; /* Coloca los elementos en columna */
    width: 700px;
    text-align: center;
}

.login-form {
    display: flex;
    flex-direction: column;
    color: #4C4C4C;
    text-align: start;
    margin-left: 5px;
    font-family: sans-serif;
    font-weight: 800; 

}

.input-user{
    border: 1px solid #ccc;      /* Bordes del input */
    border-radius: 4px;
    padding: 2px;

}

.input-password{
    border: 1px solid #ccc;      /* Bordes del input */
    border-radius: 4px;
    padding: 2px;
}

.login-page {
    height: 100vh; /* Ocupa toda la altura de la ventana */
    display: flex;
    justify-content: center;  /* Centra horizontalmente */
    align-items: center;      /* Centra verticalmente */
    padding: 20px;
    box-sizing: border-box;
}

.add-page {
    height: 100vh; /* Ocupa toda la altura de la ventana */
    display: flex;
    justify-content: center;  /* Centra horizontalmente */
    align-items: center;      /* Centra verticalmente */
    padding: 20px;
    box-sizing: border-box;
}

.add-content {
    display: flex;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
    overflow: hidden; /* Para evitar que el contenido desborde */
    flex-direction: row;
}

.h2-new-employee{
    color: #14213D;
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-content {
    background: white;
    padding: 20px;
    border-radius: 5px;
    width: 700px; /* Ajusta según sea necesario */
}

.close-button {
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
}

/* Contenedor que organiza la imagen y el formulario en fila */
.login-content {
    display: flex;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
    overflow: hidden; /* Para evitar que el contenido desborde */
    flex-direction: row;
    width: 1200px;
}

.login-image img {
    width: 100%; 
    height: 100%; 
    object-fit: cover; /* Para que la imagen no se distorsione */
}

.label-dni, .label-name, .label-date, .label-tipo, .label-cargo, .label-area{
    color:#fff;
}

/* --------- Media Queries para pantallas pequeñas --------- */
@media (max-width: 768px) {
    .login-content {
        flex-direction: column; /* Cambiar a columna en pantallas pequeñas */
        width: 100%; /* Ocupa el 100% del ancho disponible */
        max-width: 400px; /* Establece un máximo para evitar que el contenido se alargue demasiado */
    }

    .login-container, .login-image {
        width: 100%; /* Ambos elementos ahora tendrán el mismo ancho del contenedor */
    }

    .login-container {
        padding: 20px; /* Reduce el padding en pantallas pequeñas */
    }
}

/* --------- Media Queries para pantallas aún más pequeñas (móviles) --------- */
@media (max-width: 480px) {
    .login-container {
        padding: 10px; /* Ajusta el padding para pantallas muy pequeñas */
    }

    h2 {
        font-size: 1.5rem; /* Reduce el tamaño de la fuente del título en móviles */
    }

    input, button {
        font-size: 14px; /* Ajusta el tamaño del texto de los inputs y botones */
    }
}